html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  } 
  ul {
    list-style: none;
  }
  .main-title {
    padding: 3% 15% 7%;
    background-color: #1F2937;
  }
   
  /* header section */
  .header {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
  }
  .left-links {
      color: #F9FAF8;
      font-size: 24px;
  }
  .right-links {
      margin-left: auto;
      color: #E5E7EB;
      font-size: 18px;
  }
   
  .right-links ul {
      display: flex;
      gap: 24px;
  }
  
  /* title section / hero space */
  .hero-section {
     /* border: 3px solid rgb(229, 255, 0); */
     display: flex;
     align-items: center;
     justify-content: center;
  }
   
  .hero-title {
      color: #F9FAF8;
      font-size: 48px;
  }
  .hero-subtitle {
      color: #E5E7EB;
      font-size: 18px;
  }
  .hero-section >* {
    width: 50%;
  }
  .hero-left-part{
    margin-right: 30px;
  }
   
  .hero-right-part {
    
    align-self: stretch;
    border: 2px solid white;
    margin-left: 20px;
  }
  button {
    background-color: #3882F6;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    margin-top: 10px;
     
  }
  /* information section */
  
  /* Testimonials */
  /* Call to Action */
  /* Footer */